<!--
    file name: about.ejs
*Student name: Yu Him Jonathan Chak
*Student ID: 301273965
*Date : JUN 5 2023
-->

<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>
    

<h1>Welcome to <%= title %></h1>
<!--
    <script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

-->
<div>
    <img src="/img/headshot.jpg" alt="my face" width="200px" style="float:left">
    <p>
        <span style="font-weight: bold;font-size: larger;">
            Name: Yu Him Jonathan Chak
        </span>
        <br>
        <span style="margin-left: 20px; font-family: 'Courier New', Courier, monospace;">
            I am somewhat hardworking and perhaps energetic. I may work well with
            others and sometimes generate value for the group. Complacency and 
            ignorance are my tools of the trade.
        </span>
    </p>
</div>

    <a href="/doc/Resume.pdf" style="float:right">MY RESUME</a>


</body>
</html>