<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>
    

<h1>Welcome to <%= title %></h1>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>


<p>
    Feel free to contact me anytime
</p>

<ul style="float:right; background-color: peru; border-radius: 4px; list-style-type: none; padding: 30px;">
    <li>
        Email: notmyaddress@somewhere.na
    </li>
    <li>
        Phone: +1 (689) 92Y342p3
    </li>
</ul>
<form action="/#">
    <ul style="list-style: none;">
        <li>
            Your name
        </li>
        <li>
            <input type="text" name="" id="">
        </li>
        <li>
            Subject
        </li>
        <li>
            <input type="text" name="" id="">
        </li>
        <li>
            Comment
        </li>
        <li>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </li>
    </ul>
    <input type="submit">
</form>
</body>
</html>