<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>
    

<h1>Welcome to <%= title %></h1>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>