<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>

<h1>Welcome to <%= title %> page</h1>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

<p style="font-family: 'Courier New', Courier, monospace; margin: 20px;">
    We aim to discover innovative, inspiring and irresponsible solutions so that we may free ourselves from
 logic errors in this unending chapter of mundane debugging and crawl towards release.
</p>

<a href="/about">About Me</a>


<%- include('partials/footer.ejs') %>
