<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>
<h1>Welcome to <%= title %></h1>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

<h3>Highlighted Projects</h3>
<table>
    <tr>
        <th>
            Project Name
        </th>
        <th>
            Role
        </th>
        <th>
            Description
        </th>
        <th>
            Achievement
        </th>
    </tr>
    <tr>
        <td>
            Banking System
        </td>
        <td>
            Programmer
        </td>
        <td>
            Difficult school assignment
        </td>
        <td>
            Got a pass
        </td>
    </tr>
    <tr>
        <td>
            Cat Drawing
        </td>
        <td>
            Lead artist
        </td>
        <td>
            I had drawn a cat
        </td>
        <td>
            Mother was amused
        </td>
    </tr>
    <tr>
        <td>
            Room Cleaning
        </td>
        <td>
            Advisor
        </td>
        <td>
            I need to clean my room
        </td>
        <td>
            Pending
        </td>
    </tr>
</table>
</body>
</html>