<!--
    file name: services.ejs
*Student name: Yu Him Jonathan Chak
*Student ID: 301273965
*Date : JUN 5 2023
-->

<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>

<h1>Welcome to <%= title %></h1>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>


<h3>
    Here are the services I offer
</h3>

<table>
    <tr>
        <th>
            Services
        </th>
        <th>
            Type
        </th>
        <th>
            Description
        </th>
        <th>
            Fee
        </th>
    </tr>
    <tr>
        <td>
            Code Review
        </td>
        <td>
            Counselling
        </td>
        <td>
            I will look at your code and tell you what I don't like about it
        </td>
        <td>
            FREE
        </td>
    </tr>
    <tr>
        <td>
            Company
        </td>
        <td>
            Therapy
        </td>
        <td>
            Provide company throughout session
        </td>
        <td>
            1x happy meal
        </td>
    </tr>
    <tr>
        <td>
            Fashion Advise
        </td>
        <td>
            Counselling
        </td>
        <td>
            I will tell you how bad your hair looks and compare it to others
        </td>
        <td>
            FREE
        </td>
    </tr>
</table>
<img src="/img/WebDesign.jpg" alt="multidisciplinary" style="margin: 30px;">
</body>
</html>